{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}

  A snippet to include a search bar anywhere in your theme.
  Note we are using 'input-group' for the layout. Look under Forms > Input Groups for some demos.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/search

  Return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% if settings.show_header_search %}
<a class="icon-search" href="javascript:void(0)"><ly-as-4214813>Search</ly-as-4214813></a>
<form action="/search" method="get" class="input-group search-bar" role="search">
  {% comment %}
    Uncomment the following hidden input to only show products in your search results
  {% endcomment %}
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}

  <input type="text" name="q" value="{{ search.terms | escape }}" placeholder="{% comment %}ly_new_settings_replace_for_[ settings.search_placeholder ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id4214814"] %}{% assign ly_translation = shop.metafields[namespace]["id4214814"] %}{% else %}{% assign ly_translation = settings.search_placeholder %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}" class="input-group-field" aria-label="Search Site" autocomplete="off">
  <span class="input-group-btn">
    <input type="submit" class="btn" value="<ly-as-4214813>Search</ly-as-4214813>">
  </span>
</form>
{% endif %}