{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.facebook.com/btan.rocks/" class="facebook" target="_blank"><ly-as-4214841>facebook</ly-as-4214841></a></li>
    <li><a href="https://www.instagram.com/btan.rocks" class="instagram" target="_blank"><ly-as-4214842>instagram</ly-as-4214842></a></li>
  </ul>
{% endif %}