{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.youtube.com/channel/UChHSnxuR7rF0oc_ZCxdb7PA" class="youtube" target="_blank"><ly-as-4214853>youtube</ly-as-4214853></a></li>
  </ul>
{% endif %}