{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.facebook.com/sttropezpro" class="facebook" target="_blank"><ly-as-4214848>facebook</ly-as-4214848></a></li>
    <li><a href="https://twitter.com/StTropezTan" class="twitter" target="_blank"><ly-as-4214849>linkedin</ly-as-4214849></a>
    </li><li><a href="https://www.youtube.com/user/StTropezSelfTan" class="youtube" target="_blank"><ly-as-4214850>youtube</ly-as-4214850></a></li>
    <li><a href="http://www.pinterest.com/sttropeztanau/" class="pinterest" target="_blank"><ly-as-4214851>pinterest</ly-as-4214851></a></li>
    <li><a href="https://www.instagram.com/sttropeztan/" class="instagram" target="_blank"><ly-as-4214852>instagram</ly-as-4214852></a></li>
  </ul>
{% endif %}