{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.facebook.com/minetanbodyskin" class="facebook" target="_blank"><ly-as-4214854>facebook</ly-as-4214854></a></li>
    <li><a href="https://www.pinterest.com/minetanbodyskin/" class="pinterest" target="_blank"><ly-as-4214855>pinterest</ly-as-4214855></a></li>
    <li><a href="https://www.instagram.com/minetanbodyskin/" class="instagram" target="_blank"><ly-as-4214856>instagram</ly-as-4214856></a></li>
    <li><a href="https://www.linkedin.com/company/marque-of-brands" class="linkedin" target="_blank"><ly-as-4214857>linkedin</ly-as-4214857></a>
    </li><li><a href="https://www.youtube.com/user/minetanbodyskin" class="youtube" target="_blank"><ly-as-4214858>youtube</ly-as-4214858></a></li>
  </ul>
{% endif %}